@{
    ViewData["Title"] = "Home Page";
}
<head>

<button type="button" class="btn btn-primary">Animadas</button>
<button type="button" class="btn btn-secondary">Ciencia Ficción</button>
<button type="button" class="btn btn-success">Exitos</button>
<button type="button" class="btn btn-danger">Romance</button>
<button type="button" class="btn btn-warning">Deporte</button>
<button type="button" class="btn btn-info">Basadas en Libros</button>
<button type="button" class="btn btn-light">Drama</button>
<button type="button" class="btn btn-dark">Terror</button>
<button type="button" class="btn btn-link">Novedades</button>

</head>

<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    Proximamente se estarán actualizando las peliculas mas destacadas
</div>

<div class="text-center">
    <h1 class="display-4">Bienvenido al Cinemascopado</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
