﻿@{
    ViewData["Title"] = "Nueva";
}

<div class="text-center">
    <h1 class="display-4">Esta es la Nueva Vista</h1>
    <p> Esta es una vista para que sea vista y si no lo has visto ahora lo estas viendo. </p>
</div>